body, ul, li {
	margin: 0;
	padding: 0;
}
.ai {
	width: 500px;
	margin-left: 300px;
	
}
.visualizer {
	margin: 0 auto;
	width: 400px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.visualizer > .inputs { order: 1; }
.visualizer > .hiddens { order: 2; }
.visualizer > .outputs { order: 3; }

.neuron {
	height: 100px;
	width: 100px;
	background-color: red;
	border-radius: 50%;
	margin-top: 10px;
	text-align: center;
	display: flex;
	align-items: center;
}

.neuron p {
	margin: 0 auto;
	color: whitesmoke;
}

.line {
  position: absolute;
  border-radius: 20px;
  height: 1px;
  transform-origin: left;
  background-color: #bdbdbd;
}



