@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
	padding: 0;
	margin: 0;

}
button {
	border-style: none;
}
#app {
}
.header {
    height: 5vh;
    position: fixed;
	background-color: #dcdcdc;
    width: 100%;
    top: 0;
    z-index: 999;
}
.Slider-track-3 {
	background-color: #754f4f !important;
}
.Slider-pointer-4 {
	background-color: darkred !important;
}
.header__btn {
	margin-right: 12vh;
	cursor: pointer;
	font-family: 'Quicksand', sans-serif;
	font-size: 2vh;
	width: 17vh;
	height: 5vh;
	float: right;
	color: darkred;

}
.refresh__btn {
	margin-top: -40px;
	cursor: pointer;
	font-family: 'Quicksand', sans-serif;
	font-size: 2vh;
	width: 17vh;
	height: 5vh;
	color: darkred;

}
.header__btn:hover {
	color: white;
	border-color: white;

}
.refresh__btn:hover {
	color: white;
	border-color: white;

}
.main {
    transition: .2s;
    position: absolute;
	width: 1500px;
	margin: 80px auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	transform: scale(1.2, 1.2);
}
.neuron {
	height: 50px;
	width: 50px;
	background-color: red;
	border-radius: 50%;
	margin-top: 20px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}


.lineList {
	transform: translateX(25px);
}
.line {
	position: absolute;
	border-radius: 20px;
	height: 1px;
	transform-origin: left;
	background-color: black;
	z-index: -1;
}
.popup {
	z-index: 1;
	border-radius: 50px;
	height: 30px;
	background-color: #e0e0e0d4;
	position: absolute;
	margin-top: 35px;
	align-items: center;
}
.popup p {
	font-family: 'Quicksand', sans-serif;
	color: darkred;
	font-size: 20px;
	padding: 5px 20px;
	margin: 0;
}

