@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
	padding: 0;
	margin: 0;

}
button {
	border-style: none;
}
#app {
}
.header {
    height: 5vh;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
	background-color: #dcdcdc;
    width: 100%;
    top: 0;
    z-index: 999;
}
.header__btn {
	margin-right: 12vh;
	cursor: pointer;
	font-family: 'Quicksand', sans-serif;
	font-size: 2vh;
	width: 15vh;
	float: right;
	color: darkred;
	transition: .2s;

}
.header__btn:hover {
	color: white;
	border-color: white;

}
.main {
	width: 1500px;
	margin: 80px auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.neuron {
	height: 50px;
	width: 50px;
	background-color: red;
	border-radius: 50%;
	margin-top: 20px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}


.lineList {
	transform: translateX(25px);
}
.line {
	position: absolute;
	border-radius: 20px;
	height: 1px;
	transform-origin: left;
	background-color: black;
	z-index: -1;
}
.popup {
	z-index: 1;
	border-radius: 50px;
	height: 30px;
	background-color: #e0e0e0d4;
	position: absolute;
	margin-top: 35px;
	align-items: center;
}
.popup p {
	font-family: 'Quicksand', sans-serif;
	color: darkred;
	font-size: 20px;
	padding: 5px 20px;
	margin: 0;
}



