.inputfile {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

}
.input-file-modal label {
    height: 38px;
    padding: 0;
    background-color: whitesmoke;
}

.input-file-modal label p {
    color: whitesmoke;
    background-color: #454b71;
    display: inline-block;
    padding: 0.625rem 1.25rem;
    transition: background-color .2s;
}

.input-file-modal label:hover p{
    background-color: #3d4263;

}

.input-file-modal {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
}
.input-file-modal label {
    margin-top: 40px;
    cursor: pointer;
}

.input-file-modal label span {
    padding: 10px;
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}
